# ignore ALL .log files
*.log

# ignore ALL files in ANY directory named DATA, ARCHIVE, or figures (scanpy figure dump)
DATA/
__pycache__/
model_graph
ARCHIVE/
RESULTS/
figures/
reference/
saved/

.ipynb_checkpoints/
